.row:hover{
    background-color: whitesmoke;
  }
  .highlight {
    background-color: #dbdbdb !important;
  }
  .mat-column-name {
    padding-left: 16px;
    padding-right: 200px;
  }
  .mat-column-stt {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-class {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mat-column-points {
    padding-left: 16px;
    padding-right: 16px;
  }
  .table {
    border:slategray 2px;
  }
