<div class="container">
    <div class="typebox" style="z-index: 1;">
        <div class="checkboxes">
            <mat-checkbox [(ngModel)]="checkboxes[0]"></mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="checkboxes[1]"></mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="checkboxes[2]"></mat-checkbox>
            <br>
        </div>
        <div class="points">10</div>
    </div>
    <div class="typebox" style="z-index: 2;">
        <div class="checkboxes">
            <mat-checkbox [(ngModel)]="checkboxes[3]"></mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="checkboxes[4]"></mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="checkboxes[5]"></mat-checkbox>
            <br>
        </div>
        <div class="points">20</div>
    </div>
    <div class="typebox" style="z-index: 3;">
        <div class="checkboxes">
            <mat-checkbox [(ngModel)]="checkboxes[6]"></mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="checkboxes[7]"></mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="checkboxes[8]"></mat-checkbox>
            <br>
        </div>
        <div class="points">30</div>
    </div> 
</div>